<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
        @**,
        *:before,
        *:after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #080710;
        }

        .background {
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top: 50%;
        }

            .background .shape {
                height: 200px;
                width: 200px;
                position: absolute;
                border-radius: 50%;
            }*@

        .shape:first-child {
            background: linear-gradient( #1845ad, #23a2f6 );
            left: -80px;
            top: -80px;
        }

        .shape:last-child {
            background: linear-gradient( to right, #ff512f, #f09819 );
            right: -30px;
            bottom: -80px;
        }

        input[type=text]:focus {
            border: 3px solid #555;
        }

        form {
            margin: auto;
            height: 520px;
            width: 350px;
            background-color: rgba(255,255,255,0.13);
            position: initial;
            @*transform: translate(-50%,-50%);*@
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
            padding: 50px 35px;
        }

            form * {
                font-family: 'Poppins',sans-serif;
                @*color: #ffffff;*@
                letter-spacing: 0.5px;
                outline: none;
                border: none;
            }

            form h3 {
                font-size: 32px;
                font-weight: 500;
                line-height: 42px;
                text-align: center;
            }

        label {
            display: block;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500;
        }

        input {
            display: block;
            height: 50px;
            width: 100%;
            background-color: rgba(255,255,255,0.07);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
        }

        ::placeholder {
            color: #e5e5e5;
        }

        #signinbtn {
            margin-top: 50px;
            width: 100%;
            background-color: #000000;
            color: #ffffff;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }

        #SignIn {
            margin-top: 50px;
            width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }

        .social {
            margin-top: 30px;
            display: flex;
        }

            .social div {
                background: red;
                width: 150px;
                border-radius: 3px;
                padding: 5px 10px 10px 5px;
                background-color: rgba(255,255,255,0.27);
                color: #eaf0fb;
                text-align: center;
            }

                .social div:hover {
                    background-color: rgba(255,255,255,0.47);
                }

            .social .fb {
                margin-left: 25px;
            }

            .social i {
                margin-right: 4px;
            }
    </style>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <!--<title>Edubin - LMS Education HTML Template</title>-->

    <!--====== Favicon Icon ======-->
    <!--<link rel="shortcut icon" href="~/WebsiteTemplate/images/favicon.png" type="image/png">-->

    <!--====== Slick css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/slick.css">-->

    <!--====== Animate css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/animate.css">-->

    <!--====== Nice Select css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/nice-select.css">-->

    <!--====== Nice Number css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/jquery.nice-number.min.css">-->

    <!--====== Magnific Popup css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/magnific-popup.css">-->

    <!--====== Bootstrap css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/bootstrap.min.css">-->

    <!--====== Fontawesome css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/font-awesome.min.css">-->

    <!--====== Default css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/default.css">-->

    <!--====== Style css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/style.css">-->

    <!--====== Responsive css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/responsive.css">-->


</head>
<body>
    @*<div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>*@

    <!--<section id="page-banner" class="pt-105 pb-130 bg_cover" data-overlay="8" style="background-image: url(https://p1.pxfuel.com/preview/360/264/33/glacier-alaska-ice-mountains-sea-cold.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>News</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ol>
                        </nav>
                    </div>-->  <!-- page banner cont -->
                <!--</div>
            </div>--> <!-- row -->
        <!--</div>--> <!-- container -->
    <!--</section>-->

    <!--<section id="blog-page" class="pt-90 pb-120 gray-bg">
        <form method="Post" action="/User/AuthenticateUser/">
            <h3>Login Here</h3>

            <label for="username">Name</label>
            <input type="email" placeholder="Email or Phone" id="Email" name="Email">

            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="Password" name="Password">

            <button type="submit">Log In</button>
            <a href="/User/SignUp/" id="signIn">Sign Up</a>-->
            @*<div class="social">
                    <div class="go"><i class="fab fa-google"></i>  Google</div>
                    <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
                </div>*@
        <!--</form>
    </section>-->

    <section>
        <form method="Post" action="/User/AuthenticateUser/">
            <h3>Login Here</h3>

            <label for="username">Name</label>
            <input type="email" placeholder="Email or Phone" id="Email" name="Email">

            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="Password" name="Password">

            <button id="signinbtn" type="submit">Log In</button>
        </form>
    </section>


    <!--====== BACK TO TOP PART ENDS ======-->
    <!--====== jquery js ======-->
    <script src="~/WebsiteTemplate/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/WebsiteTemplate/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="~/WebsiteTemplate/js/bootstrap.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/WebsiteTemplate/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/WebsiteTemplate/js/jquery.magnific-popup.min.js"></script>

    <!--====== Counter Up js ======-->
    <script src="~/WebsiteTemplate/js/waypoints.min.js"></script>
    <script src="~/WebsiteTemplate/js/jquery.counterup.min.js"></script>

    <!--====== Nice Select js ======-->
    <script src="~/WebsiteTemplate/js/jquery.nice-select.min.js"></script>

    <!--====== Nice Number js ======-->
    <script src="~/WebsiteTemplate/js/jquery.nice-number.min.js"></script>

    <!--====== Count Down js ======-->
    <script src="~/WebsiteTemplate/js/jquery.countdown.min.js"></script>

    <!--====== Validator js ======-->
    <script src="~/WebsiteTemplate/js/validator.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="~/WebsiteTemplate/js/ajax-contact.js"></script>

    <!--====== Main js ======-->
    <script src="~/WebsiteTemplate/js/main.js"></script>

    <!--====== Map js ======-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src="~/WebsiteTemplate/js/map-script.js"></script>

</body>
</html>
