@model EverestNerdEducationAndTrainingLLC.Models.Teacher

<section style="padding: 5%">
    <div class="text-center">
        <h3>Edit Course</h3>
</div>
    <form method="post" action="/Home/EditTeacherInDB">
  <div class="form-group">
      <input type="hidden" name="Id" value="@Model.Id"/>
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" name="Name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name" value="@Model.Name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Profession</label>
    <input type="text" class="form-control" name="Profession" id="exampleInputPassword1" placeholder="Profession" value="@Model.Profession">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <input type="text" class="form-control" name="Discription" id="exampleInputPassword1" placeholder="Description" value="@Model.Discription">
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top: 2%">Update Teacher</button>
</form>
</section>

