<!doctype html>
<html lang="en">
<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <!--<title>Everest Nerd Education and Learning</title>-->

    <!--====== Favicon Icon ======-->
    <!--<link rel="shortcut icon" href="~/WebsiteTemplate/images/favicon.png" type="image/png">-->

    <!--====== Slick css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/slick.css">-->

    <!--====== Animate css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/animate.css">-->

    <!--====== Nice Select css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/nice-select.css">-->

    <!--====== Nice Number css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/jquery.nice-number.min.css">-->

    <!--====== Magnific Popup css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/magnific-popup.css">-->

    <!--====== Bootstrap css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/bootstrap.min.css">-->

    <!--====== Fontawesome css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/font-awesome.min.css">-->

    <!--====== Default css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/default.css">-->

    <!--====== Style css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/style.css">-->

    <!--====== Responsive css ======-->
    <!--<link rel="stylesheet" href="~/WebsiteTemplate/css/responsive.css">-->


</head>

<body>

    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader rubix-cube">
            <div class="layer layer-1"></div>
            <div class="layer layer-2"></div>
            <div class="layer layer-3 color-1"></div>
            <div class="layer layer-4"></div>
            <div class="layer layer-5"></div>
            <div class="layer layer-6"></div>
            <div class="layer layer-7"></div>
            <div class="layer layer-8"></div>
        </div>
    </div>

    <!--<div class="search-box">
        <div class="serach-form">
            <div class="closebtn">
                <span></span>
                <span></span>
            </div>
            <form action="#">
                <input type="text" placeholder="Search by keyword">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div>-->
    <!-- serach form -->
    <!--</div>-->
    <!--====== SEARCH BOX PART ENDS ======-->
    <!--====== PAGE BANNER PART START ======-->

    <section id="page-banner" class="pt-105 pb-130 bg_cover" data-overlay="8" style="background-image: url(https://p1.pxfuel.com/preview/360/264/33/glacier-alaska-ice-mountains-sea-cold.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Reading And Writing</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Reading And Writing</li>
                            </ol>
                        </nav>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PAGE BANNER PART ENDS ======-->
    <!--====== BLOG PART START ======-->

    <section id="blog-page" class="pt-90 pb-120 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="singel-blog mt-30">
                        <div class="blog-thum">
                            <img src="~/WebsiteTemplate/readingwriting.png" alt="Blog">
                        </div>
                        <div class="blog-cont">
                            <a href="#"><h3>Reading And Writing</h3></a>
                            <ul>
                                <li><a href="#"><i class="fa fa-calendar"></i>1 jun 2022</a></li>
                                <li><a href="#"><i class="fa fa-user"></i>Veena Malik</a></li>
                                <li><a href="#"><i class="fa fa-tags"></i>Education</a></li>
                            </ul>
                            <p>Children learn to use symbols, combining their oral language, pictures, print, and play into a coherent mixed medium and creating and communicating meanings in a variety of ways. From their initial experiences and interactions with adults, children begin to read words, processing letter-sound relations and acquiring substantial knowledge of the alphabetic system. As they continue to learn, children increasingly consolidate this information into patterns that allow for automaticity and fluency in reading and writing. Consequently reading and writing acquisition is conceptualized better as a developmental continuum than as an all-or-nothing phenomenon. <br<br> But the ability to read and write does not develop naturally, without careful planning and instruction. Children need regular and active interactions with print. Specific abilities required for reading and writing come from immediate experiences with oral and written language. Experiences in these early years begin to define the assumptions and expectations about becoming literate and give children the motivation to work toward learning to read and write. From these experiences children learn that reading and writing are valuable tools that will help them do many things in life.</p>
                        </div>
                    </div> <!-- singel blog -->
                    @*<div class="singel-blog mt-30">
                            <div class="blog-thum">
                                <img src="~/WebsiteTemplate/images/blog/b-2.jpg" alt="Blog">
                            </div>
                            <div class="blog-cont">
                                <a href="#"><h3>Few tips for get better results in examination</h3></a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-calendar"></i>25 Dec 2018</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Mark anthem</a></li>
                                    <li><a href="#"><i class="fa fa-tags"></i>Education</a></li>
                                </ul>
                                <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                            </div>
                        </div>*@ <!-- singel blog -->
                    @*<nav class="courses-pagination mt-50">
                            <ul class="pagination justify-content-lg-end justify-content-center">
                                <li class="page-item">
                                    <a href="#" aria-label="Previous">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item"><a class="active" href="#">1</a></li>
                                <li class="page-item"><a href="#">2</a></li>
                                <li class="page-item"><a href="#">3</a></li>
                                <li class="page-item">
                                    <a href="#" aria-label="Next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>*@  <!-- courses pagination -->
                </div>
                <div class="col-lg-4">
                    <div class="saidbar">
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                @*<div class="saidbar-search mt-30">
                                        <form action="#">
                                            <input type="text" placeholder="Search">
                                            <button type="button"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>*@ <!-- saidbar search -->
                                <div class="categories mt-30">
                                    <h4>Cources</h4>
                                    <ul>
                                        <li><a href="/Home/Physics">Physics</a></li>
                                        <li><a href="/Home/Biology">Biology</a></li>
                                        <li><a href="/Home/ComputerScience">Computer Science</a></li>
                                        <li><a href="/Home/Mathemetics">Mathemetics</a></li>
                                        <li><a href="/Home/ReadinAndWriting">Reading and Writing</a></li>
                                    </ul>
                                </div>
                            </div> <!-- categories -->
                            <!--<div class="col-lg-12 col-md-6">
                                <div class="saidbar-post mt-30">
                                    <h4>Popular Posts</h4>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <div class="singel-post">
                                                    <div class="thum">
                                                        <img src="~/WebsiteTemplate/images/blog/blog-post/bp-1.jpg" alt="Blog">
                                                    </div>
                                                    <div class="cont">
                                                        <h6>Introduction to languages</h6>
                                                        <span>20 Dec 2018</span>
                                                    </div>
                                                </div>-->
                            <!-- singel post -->
                            <!--</a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="singel-post">
                                        <div class="thum">
                                            <img src="~/WebsiteTemplate/images/blog/blog-post/bp-2.jpg" alt="Blog">
                                        </div>
                                        <div class="cont">
                                            <h6>How to build a game with java</h6>
                                            <span>10 Dec 2018</span>
                                        </div>
                                    </div>-->
                            <!-- singel post -->
                            <!--</a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="singel-post">
                                        <div class="thum">
                                            <img src="~/WebsiteTemplate/images/blog/blog-post/bp-1.jpg" alt="Blog">
                                        </div>
                                        <div class="cont">
                                            <h6>Basic accounting from primary</h6>
                                            <span>07 Dec 2018</span>
                                        </div>
                                    </div>-->
                            <!-- singel post -->
                            <!--</a>
                                    </li>
                                </ul>
                            </div>-->
                            <!-- saidbar post -->
                            <!--</div>-->
                        </div> <!-- row -->
                    </div> <!-- saidbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>


    <!--====== BACK TO TOP PART ENDS ======-->
    <!--====== jquery js ======-->
    <script src="~/WebsiteTemplate/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/WebsiteTemplate/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="~/WebsiteTemplate/js/bootstrap.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/WebsiteTemplate/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/WebsiteTemplate/js/jquery.magnific-popup.min.js"></script>

    <!--====== Counter Up js ======-->
    <script src="~/WebsiteTemplate/js/waypoints.min.js"></script>
    <script src="~/WebsiteTemplate/js/jquery.counterup.min.js"></script>

    <!--====== Nice Select js ======-->
    <script src="~/WebsiteTemplate/js/jquery.nice-select.min.js"></script>

    <!--====== Nice Number js ======-->
    <script src="~/WebsiteTemplate/js/jquery.nice-number.min.js"></script>

    <!--====== Count Down js ======-->
    <script src="~/WebsiteTemplate/js/jquery.countdown.min.js"></script>

    <!--====== Validator js ======-->
    <script src="~/WebsiteTemplate/js/validator.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="~/WebsiteTemplate/js/ajax-contact.js"></script>

    <!--====== Main js ======-->
    <script src="~/WebsiteTemplate/js/main.js"></script>

    <!--====== Map js ======-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src="~/WebsiteTemplate/js/map-script.js"></script>

</body>
</html>
